[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
notebook = "*"

[packages]
pandas = "*"
numpy = "*"
bs4 = "*"
lxml = "*"
genanki = "*"
tqdm = "*"

[requires]
python_version = "3.9"
